body{
    background-image: url("regi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.div1{
    width: 650px;
    background-color: white;
    height: 450px;
}
h1{
    text-align: center;
}
.icon{
 padding-left: 210px;
 /* padding-top: 90px; */
}
#submit{
    position: absolute;
    left: 210px;

}
.in{
    border: none;
    border-bottom: 2px solid black; 
}
#img1{
    position: fixed;
}